.filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2rem;
}

.filters__datalists,.filters__checkboxs,.filters__sliders {
  width: 84.9vw;
  gap: 6vw;
}

.col {
  padding: 0;
  margin: 0;
}

.filters__datalists-college,.filters__datalists-organization {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 260px;
}

.filters__datalists-college label,.filters__datalists-organization label {
  margin-bottom: 8px;
  font-family: var(--color-gray);
  font-weight: 600;
  color: black;
  font-size: var(--font-size-medium);
}

.filters__datalists-college input,.filters__datalists-organization input {
  font-size: var(--font-size-medium);
  border-radius: 9px;
  padding: 5px;
  background-color: #F4F4F4;
  border: 0;
}

.filters__checkboxs-modality,.filters__checkboxs-degree,.filters__sliders-vacancie,.filter__sliders-hours {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 260px;
}

.filters__checkboxs-modality label,.filters__checkboxs-degree label,.filters__sliders-vacancies label,.filters__sliders-hours label {
  font-family: var(--color-gray);
  font-weight: 600;
  color: black;
  font-size: var(--font-size-medium);
}

.filters input[type = 'checkbox'] {
  accent-color: var(--color-orange);
}

.filters__checkboxs-modality .form-check-label,.filters__checkboxs-degree .form-check-label {
  font-family: var(--color-gray);
  font-weight: 400;
  color: black;
  font-size: 1rem;
}

.filters__sliders-vacancies .form-group,.filters__sliders-hours .form-group {
  max-width: 250px;
  min-width: 250px;
}

.filters input[type = 'range'] {
  accent-color: var(--color-orange);
}

.filters__sliders>* {
  flex: none;
}

.filter__sliders-hours label {
  max-width: 15rem;
}

.filters .filters__button {
  display: flex;
  justify-content: right;
  width: 85vw;
}

.filters .filters__button a {
  text-decoration: none;
  color: var(--color-white);
}

.filters .filters__button .btn {
  background-color: var(--color-orange);
  font-size: 1.3rem;
  font-family: var(--font-ns-sans);
  font-weight: 700;
  border-radius: 30px;
  padding: 0.7rem 2rem;
}

.filters .filters__button .btn:hover {
  color: var(--color-white);
  background-color: var(--color-orange-dark);
}

.filters .filters__button .btn:focus {
  box-shadow: var(--shadow-orange);
}