.filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.filters__selects {
  width: 84.9vw;
  gap: 6vw;
}

.col {
  padding: 0;
  margin: 0;
}

.filters__selects-college,.filters__selects-organization {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 260px;
}

.filters__selects-college label,.filters__selects-organization label {
  margin-bottom: 8px;
  font-family: var(--color-gray);
  font-weight: 600;
  font-size: var(--font-size-medium);
}

.filters__selects-college input,.filters__selects-organization input {
  font-size: var(--font-size-medium);
  border-radius: 9px;
  padding: 5px;
  background-color: #F4F4F4;
  border: 0;
}

.filters .filters__button {
  display: flex;
  justify-content: right;
  width: 85vw;
  margin-top: 4rem;
}

.filters .filters__button a {
  text-decoration: none;
  color: var(--color-white);
}

.filters .filters__button .btn {
  background-color: var(--color-orange);
  font-size: 1.3rem;
  font-family: var(--font-ns-sans);
  font-weight: 700;
  border-radius: 30px;
  padding: 0.7rem 2rem;
}

.filters .filters__button .btn:hover {
  color: var(--color-white);
  background-color: var(--color-orange-dark);
}

.filters .filters__button .btn:focus {
  box-shadow: var(--shadow-orange);
}