@media screen and (max-width: 1300px) {
  .footer-body .footer__content {
    flex-direction: column;
  }

  .footer__content .footer__logo {
    display: flex;
    justify-content: center;
  }

  .footer__content .footer__figure {
    display: flex;
    justify-content: right;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .navigation .navbar-nav {
    gap: 0;
  }

  .colleges .without-results__figure img {
    max-width: 70vw;
  } 
}

@media screen and (max-width: 640px) {
  .footer__content .footer__text {
    display: flex;
    flex-direction: column;
  }

  .footer__content .footer__text-list {
    justify-content: center;
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 570px) {
  .colleges {
    padding: 6rem 2rem;
  }

  .colleges .colleges__title h1 {
    text-align: center;
  }

  .footer__content .footer__logo img{
    max-width: 70vw;
  }

  .footer__content .footer__figure img {
    max-width: 70vw;
  }
}

@media screen and (max-width: 380px) {
  .small {
    display: block;
  }

  .big {
    display: none;
  }

  .hidden {
    display: none !important;
  }

  .visible {
    display: flex !important;
  }

  .colleges .colleges__cards .card {
    display: flex;
    align-items: center;
  }

  .filters .filters__button {
    justify-content: center;
  }

  .colleges .card__figure img,.colleges .card__text {
    max-width: 80vw;
  }

  .colleges .colleges__cards .card__main-text {
    display: flex;
    justify-content: space-between;
  }

  .colleges .card__main-text {
    display: flex;
    justify-content: center;
  }

  .colleges .without-results {
    flex-direction: column;
  }
}

