.navigation {
  display: flex;
  justify-content: center;
}

.navigation .navbar {
  background-color: white !important;
  width: 90vw;
}

.navigation .navbar-nav {
  gap: 30px;
  margin: auto;
  font-family: var(--font-ns-sans);
  font-weight: 600;
  font-size: 1rem;
  color: black;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

.decoration-line {
  position: relative;
}

.decoration-line::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-orange);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .decoration-line:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.navigation .d-flex .btn {
  background-color: var(--color-orange);
  color: var(--color-white);
  font-size: 1.3rem;
  font-family: var(--font-ns-sans);
  font-weight: 700;
  border-radius: 30px;
  padding: 0.7rem 2rem;
}

.navigation .d-flex .btn:hover {
  color: var(--color-white);
  background-color: var(--color-orange-dark);
}

.navigation .d-flex .btn:focus {
  box-shadow: var(--shadow-orange);
}

hr {
  width: 90vw;
  margin-top: 0;
  margin-bottom: 0;
}