:root {
  /* FONT */
  --font-ns-sans: 'Nunito Sans', sans-serif;
  --font-roboto-sans: 'Roboto', sans-serif;

  /* COLORS */
  --color-orange: #F02A1C;
  --color-orange-dark: #d12115;
  --color-white: #fff;
  --color-gray: #433F3D;

  /* EFFECTS */
  --shadow-orange: 0 0 0 0.2rem #ff9f98;
}